

<h1>We have found <%= Restaurant.count %> of deals around for <span id="date"></span>:</h1>


<div class="index_flex">

<!--   <div class="offer-container">
    <div class="container"> -->
      <p id="date"></p>
      <!-- Code your tabs here -->
      <div class="offers-container">

        <% @restaurants.each do |restaurant| %>

        <div class="offer-detail">
          <div class="offer-count">

            <p><%= restaurant.id %></p>

          </div>
          <img src="https://res.cloudinary.com/duh9oaa44/image/upload/v1542719944/edward-guk-357344-unsplash.jpg" class="restaurant-logo">
          <div class="restaurant-details">
            <h3><%= restaurant.name %></h3>
            <p><%= restaurant.address %></p>
            <p><%= restaurant.cuisine.titleize %></p>
          </div>
          <div class="restaurant-offer">
            <p>Schnitzeltag</p>
            <p>Das kannst du dir nicht entgehen lassen</p>
          </div>
          <div class="offer-table">
            <button type="button" class="btn btn-success"><%= link_to "Book a table", restaurant_path(restaurant) %> </button>
          </div>
          <div class="offer-price">
            <p>345€</p>
          </div>
          <div class="offer-link">
          </div>
        </div>
      <% end %>
      <%= link_to 'Add Restaurant', new_restaurant_path %>
      </div>


<!--     </div>
  </div> -->
<div
  id="map"

  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAP_API'] %>"
></div>


</div>

<h1>PAGE END</h1>
