
<h1>Restaurant details</h1>


    <div class="summary">
      <div class="name">
        <p>Schnitzeltag</p>
      </div>
      <div class="description">
        <p>Jedes Schnitzel nach Wahl</p>
        </p>

        <div class="price">
          <p>3.9€</p>
        </div>

        <div class="info">
          <p>Mehr anzeigen</p>
        </div>
      </div>
    </div>

    <% if policy(@restaurant).update? %>
    <%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
    <% end %>
    <%= link_to 'Back', restaurants_path %>

    <%= link_to 'Booking', new_restaurant_booking_path(@restaurant) %>

  </div>

<div>
  <h3><%= @restaurant.name %></h3>
  <ul>
    <li><%= @restaurant.name  %></li>
    <li> <%= @restaurant.cuisine  %></li>
  </ul>
</div>


